{% extends 'index.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block face %}
<div class="jumbotron p-3 p-md-4 text-white rounded bg-dark">
    <div class="col-md-16 px-0">
        <h1 class="display-4 font-italic">Много денег.</h1>
        <ul class="lead my-6">
            Помощник для игры "Много денег" на авторадио.
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<main role="main" class="container">
    <p><a href="https://www.avtoradio.ru/money">Игра "Много денег" на авторадио.</a></p>
    <p><a href="https://www.acrcloud.com/">Сервис распознавания музыки. ACRCloud.</a></p>
    <p><a href="https://t.me/mnogodenegavtoradio">Группа в телеграм</a></p>
    <p>
        Телеграм-бот распознает песню и отправляет информацию о ней в группу, в телеграме.
        Сама песня не отображается в плейлисте на странице "авторадио".
        Поэтому нужно было определить моменты когда она появляется.
        После бот записывает небольшой кусок песни и отправляет на распознавание на ACRCloud.
    </p>
    {% if list_song %}
        <h4 class="display-8">Последние "секретные" песни.</h4>
        {% for item in list_song %}
            <p>{{ item.data }} {{ item.artist }} - {{ item.title }} (текущая сумма денег: {{ item.summ }})</p>
        {% endfor %}
    {% endif %}
</main>
{% endblock %}
